@model IEnumerable<College.Areas.Identity.Data.SuggestionsModel>

@{
    ViewData["Title"] = "ActingOnIt";
}

<h1>Suggestions</h1>
<p>List of suggestions that we are working on</p>
<p>
    <a class="btn btn-primary" asp-action="Index">View Suggestions in Progress</a>

</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="margin:30px 30px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Status</h5>
                    <p class="card-text">@item.SuggestionMessage</p>
                    <a class="btn btn-primary" asp-action="Details" asp-controller="AdminSuggestionsModels"asp-route-id="@item.SuggestionId">View</a>
                </div>
            </div>
        </div>
    }
</div>
