@model College.Areas.Identity.Data.JoinedEventsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JoinedEventsModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JoinedEventsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
