@model College.Areas.Identity.Data.ClubsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.ClubName</h1>
<form method="post"> 
<div>
    <dl class="row">
        <dd class = "col-md-6">
            <img style="width:350px" src="@Model.ClubImageURL" alt="club profile picture"/>
        </dd>
        <dd class = "col-md-6">
            @Model.ClubDescription
            <br /><br />
         <button type = "submit">
             <a class ="btn btn-success">Join Now</a>
             </button>
            <a class ="btn btn-danger" asp-action="Index">Back to List</a>
        </dd>
        
    </dl>
</div>
<div>
</div>
</form>
