@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    function PaymentProcess(accessKey,orderId) {

        console.log("In payment");
        console.log("id");
        //var amount = document.getElementById("payment_price").value;
        var amount =100;
     
        var orderId = orderId;
        console.log(orderId);
        var options = {
            "key": accessKey,
            "amount": "10000001",
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Recharge",
            "order_id": orderId,
            "image": "https://example.com/your_logo",
            "handler": function (response) {
                console.log(response);
                var div = document.createElement("div");
                div.setAttribute("id", "successMessage");
                
                
                // Get the button element
                var button = document.querySelector("button[hidden]");
                var paragraph = document.querySelector("h3[hidden]");
                var payButton = document.getElementById("PayButton");
                //  var payParagraph = document.getElementById("PayFeesParagraph");
                
                // Unhide the button by removing the hidden attribute

                button.removeAttribute("hidden");
                paragraph.removeAttribute("hidden");
                payButton.style.display = "none";
                //payParagraph.style.display) = "none";

            },
            "prefill": {
                "name": "Name",
                "email": "test@example.com",
                "contact": "+919000090000",
            },
            "callback_url": "https://localhost:7119/",
            //"redirect": true,
            "notes": {  
                "address": "Hello World"
            },
            "theme": {
                "color": "#3399cc"
            }
        }

        var rzp = new Razorpay(options);
        rzp.open();

    }

</script>

<h5 id="PayFeesParagraph"> Pay Fees here!</h5>

<div  style="width:800px; margin:70px 500px ">
<button id="PayButton" class="btn btn-primary" onclick="PaymentProcess('@ViewBag.AccessKey','@ViewBag.OrderId')">Pay Now</button>
<input value = "" id="paymentSuccess" type="hidden">
<form method="post">
    <br>
<h3 hidden> Payment Successful</h3>
<button class="btn btn-primary"type="submit" hidden>done</button>
</form>
</div>