@{
    ViewData["Title"] = "Support";
}
<h1>@ViewData["Title"]</h1>


<h4>Our team of wonderful admins are here to support you 24/7</h4>
<p>Feel free to contact us through email</p>
<a href="mailto:admin@gmail.com">admin@gmail.com</a>

